# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual studio files
*.db
*.opendb

# Project temporaries
.build
.install
build/

# Clion files
.idea

# Build files
/cmake-build-*
.doxygen
.build

# 3rd party
/.3rdparty

# Visual Studio
.vs
CMakeSettings.json
